<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget Tracker</title>
</head>
<body>
    <h1>This is a budget tracker to help track and organize your income and expenses</h1>
    <p>The basic structure has been made and it works</p>
    <p>The functionalities have been added successfully</p>
    <p>You can add and delete transactions and filter them successfully</p>
    <p>Some more features have to be added but there is not enough time to finish by assignment deadline</p>
</body>
</html>